<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.exam.mapper.AttendanceMapper">
	<resultMap type="org.exam.entity.Attendance" id="BaseResultMap">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="courseTotal" column="course_total" jdbcType="INTEGER"/>
		<result property="presentTotal" column="present_total" jdbcType="INTEGER"/>
		<result column="class_id" property="classId" jdbcType="INTEGER" />
        <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <association property="subject" javaType="org.exam.entity.Subject">
       		<id property="id" column="s_id"/> 
        	<result property="name" column="s_name"/>
        </association>
        <collection property="users" column="u_user_id" javaType="ArrayList" ofType="org.exam.entity.User">
        	<result property="userId" column="u_user_id"/>
        	<result property="username" column="u_username"/>
        	<result property="nickname" column="u_nickname"/>
        </collection>
        <collection property="classes" column="c_class_id" javaType="ArrayList" ofType="org.exam.entity.Classes">
        	<id property="id" column="c_class_id"/>
        	<result property="name" column="c_name"/>
        </collection>
	</resultMap>
	<resultMap type="org.exam.entity.User" id="StudentsMap">
		<id property="id" column="id" jdbcType="INTEGER"/>
		<result property="userId" column="user_id" jdbcType="VARCHAR"/>
		<result property="username" column="username" jdbcType="VARCHAR"/>
		<result property="nickname" column="nickname" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- for teacher -->
	<select id="findByCondition" parameterType="org.exam.vo.AttendanceConditionVo" resultMap="BaseResultMap">
		select a.*,count(us.user_id) AS course_total,count(ash.user_id) AS present_total
		from attendance_inf a 
		left join user_inf u on a.user_id = u.user_id 
		left join user_subject_inf us on a.subject_id = us.subject_id 
		left join attendance_sheet_inf ash on a.id = ash.attendance_id and us.user_id = ash.user_id and ash.status =1 
		where 1=1
		<if test="teacherUserId != null and teacherUserId != ''">
			AND a.user_id = #{teacherUserId}
		</if>
		<if test="teacherNickname != null and teacherNickname != ''">
			AND a.author = #{teacherNickname}
		</if>
		<if test="year != null">
			AND a.year = #{year}
		</if>
		<if test="term != null">
			AND a.term = #{term}
		</if>
		<if test="subjectId != null">
			AND a.subject_id = #{subjectId}
		</if>
		<if test="type != null">
			AND a.type = #{type}
		</if>
		order by a.end_time desc; 
	</select>
	
	<!-- 学生查询待考勤列表 -->
	<select id="listOngoingAttendances" parameterType="org.exam.vo.AttendanceConditionVo" resultMap="BaseResultMap">
		select a.id,a.author,a.status,s.id as s_id,s.name as s_name,a.start_time,a.end_time
		from attendance_inf a 
		left join subject_inf s on a.subject_id = s.id 
		left join user_subject_inf us on us.subject_id = s.id and us.subject_id = a.subject_id 
		left join user_inf u on u.user_id = us.user_id 
		where 1 = 1 
		<if test="studentUserId != null and studentUserId != ''">
			AND u.user_id = #{studentUserId}
		</if>
		<if test="studentUsername != null and studentUsername != ''">
			AND u.username = #{studentUsername}
		</if>
		<if test="studentNickname != null and studentNickname != ''">
			AND u.nickname = #{studentNickname}
		</if>
		<if test="type != null">
			AND a.type = #{type}
		</if>
	</select>
	
	<!-- 老师查询单体考勤 -->
	<select id="listTargetedStudents" parameterType="org.exam.vo.AttendanceConditionVo" resultMap="StudentsMap">
		select u.id,u.user_id,u.username,u.nickname
		from subject_inf s 
		left join user_subject_inf us on s.id = us.subject_id 
		left join user_inf u on u.user_id = us.user_id 
		left join class_inf c on c.id = u.class_id 
		where 1 = 1
		<if test="subjectId != null and subjectId != ''">
	 		AND s.id = #{subjectId}
		</if>
		<if test="classId != null and classId != ''">
	 		AND c.id = #{classId}
		</if>
	</select>
	
	<select id="">
		
	</select>
	
	<update id="updateAttendanceToStart">
		UPDATE attendance_inf 
		SET 
			status = 1
		WHERE status <![CDATA[ = ]]> 0 AND start_time <![CDATA[ <= ]]> #{currentTime} AND end_time <![CDATA[ > ]]> #{currentTime}
	</update>
	
	<update id="updateAttendanceToEnd">
		UPDATE attendance_inf 
		SET 
			status = 2 
		WHERE status  <![CDATA[ <= ]]> 2 AND end_time <![CDATA[ <= ]]> #{currentTime}
	</update>
	
</mapper>