/* 导航栏部分css */
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

body{
  background-color: rgb(246, 248, 249);
}
.nav{
  height: 64px;
  background-color: rgb(255, 255, 255);
}

.nav .logo{
 
  float: left;
  margin-left:61px;
}
.nav .logo img{
  margin-top: 12px;
  float: left;
  width: 32px;
}
.nav .logo h2{
  margin-top: 20px;
  margin-left: 18px;
  float: left;
  font-size: 22.4px;
  font-weight: 700;
}
.user{
  float: right;
  margin-right: 50px;
}
.user .dropdown-toggle a{
  font-size: 20px;
}
.user span{
  font-size: 25px;
}
.user a:link{
    color: rgb(19, 140, 136);
}
.user a:visited{
  color: rgb(19, 140, 136);
}
.nav .user .navbar-nav li a:hover
{
  color: green;
  background-color: rgb(255, 255, 255);
  
}
.user .dropdown-menu {
   width: 50px;
  text-align: center;
}


div .breadcrumb{
  background-color: #fff;
  margin-bottom: 20px;
}