.message {
  text-align: left;
  font-size: 15px;
  color: #999;
  background: url(../images/10警告.png) no-repeat 0px center;
  margin-top: 5px;
  padding-left: 17px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.wrong {
  color: red;
  background: url(../images/08关闭.png) no-repeat left center;
}

.right {
  color: green;
  background: url(../images/14成功.png) no-repeat left center;
}


.login{
  text-align: center;
  margin: 10% auto;
  width: 500px;
  height: 360px;
  background-color:rgba(255, 255, 255, 1);
  border: 1px solid rgba(204, 204, 204, 1);
  border-radius:10px
}
.title img{
  width: 28px;
} 

.title h1{
  margin: 20px auto;
  width: 220px;
  font-weight: 700;
  font-size: 22.4px;
}

.username input {
  
  display: inline-block;
  width: 300px;
  margin-left:  auto;
  margin-right:  auto;
  margin-bottom: 30px;
}
.password input{
  display: inline-block;
  width: 300px;
  margin-left:  auto;
  margin-right:  auto;
  margin-bottom: 10px;
}
.remember{
  position: relative;
  height: 30px;
  text-align: left;
  margin-left: 82px;
  padding-top: 5px;
}

.remember input{
  position: absolute;
  font-weight: 400;
}

.remember span{
  margin-left: 15px;
  font-weight: 400;
}

.btn{
  width: 350px;
  color: #FFFFFF;
  background: rgb(13, 190, 180);
}
.btn:hover{
  color: green;
}

 
  body{
  width: 100%;
  height: 100%;
  background:linear-gradient(-45deg,#ee7752,#23a6d5,#23d5ab);
  background-size: 200% 200%;
  animation: gradientBG 15s ease infinite;
} 
@keyframes gradientBG{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}  


/* 用户名 */
.input-container {
  width: 340px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0px auto
}

.input-container input {
  -webkit-box-ordinal-group: 11;
  order: 10;
  -ms-flex-order: 10;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  border-bottom: 1px solid #d5d5d5;;
  text-indent: 10px;
}

.input-container input::-moz-placeholder {
  opacity: 0;
}

.input-container input::-webkit-input-placeholder {
  opacity: 0;
}

.input-container input:-ms-input-placeholder {
  opacity: 0;
}

.input-container input, .input-container label {
  transition: all 0.3s;
}

.input-container label {
  -webkit-box-ordinal-group: 101;
  -ms-flex-order: 100;
  order: 100;
  color: #3f4f5b;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: translate(10px, 40px);
  transform: translate(0px, 40px);
}

.input-container .bottom-line {
  order: 2;
  width: 0;
  height: 2px;
  background: rgb(101, 141, 181);
  transition: all 0.3s;
}

.input-container input:focus {
  border-bottom-color: #fff;
}

.input-container input:focus ~ div, .input-container input:not(:placeholder-shown) ~ div {
  width: 100%
}

.input-container input:focus + label, .input-container input:not(:placeholder-shown) + label {
  color: rgb(82, 97, 108);
  -webkit-transform: translate(10px) scale(0.9);
  transform: translate(10px) scale(0.9)
}

